sourceediting/tests/org.eclipse.wst.xml.vex.core.tests/testResources/test1.dtd

<!-- PUBLIC "-//Eclipse Foundation//DTD Vex Test//EN" -->
<!ELEMENT title (#PCDATA)>
<!ELEMENT any ANY>
<!ELEMENT empty EMPTY>
<!ELEMENT section (title?, para+)>
<!ELEMENT para (#PCDATA | emphasis)*>
<!ELEMENT emphasis (#PCDATA)>
<!ELEMENT one-kind-of-child (section+)>
<!ELEMENT document (title?, preface, section+, index)>
<!ELEMENT preface (para+)>
<!ELEMENT index (para+)>

<!-- a dummy attribute, just to make sure attribute def serialization is OK -->
<!ATTLIST section
	name	CDATA	#IMPLIED>