sourceediting/tests/org.eclipse.wst.xml.vex.core.tests/src/org/eclipse/wst/xml/vex/core/internal/dom/test1.dtd

<!ELEMENT title (#PCDATA)>
<!ELEMENT any ANY>
<!ELEMENT empty EMPTY>
<!ELEMENT section (title?, para+)>
<!ELEMENT para (#PCDATA | emphasis)*>
<!ELEMENT emphasis (#PCDATA)>
<!ELEMENT one-kind-of-child (section+)>

<!-- a dummy attribute, just to make sure attribute def serialization is OK -->
<!ATTLIST section
	name	CDATA	#IMPLIED>